elipse()
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

flexR()
    display flex
    flex-direction row

flexC()
    display flex
    flex-direction column
elipse2line()
    display -webkit-box
    -webkit-box-orient vertical
    -webkit-line-clamp 2
    overflow hidden